* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.h1Tag {
  margin-top: 1rem;
  font-variant: small-caps;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px 2px black;
  filter: drop-shadow(2px 4px 1px black);
}
.container-1 {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(#ff6034, #f9d423);
}

.optionType {
  width: 8rem;
  height: 2.5rem;
  padding: 0px 15px;
  text-transform: uppercase;
  color: white;
  background: #0079a2;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(2px 4px 6px black);
}

#formContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#searchFilter {
  width: 10rem;
  height: 2.5rem;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  background: hsl(0, 100%, 61%);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(3px 2px 4px black);
}

#searchFilter:hover {
  background: hsl(0, 100%, 51%);
  transform: scale(0.95);
  filter: drop-shadow(2px 4px 6px black);
}

#reset {
  height: 2.5rem;
  width: 7rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: hsl(240, 52%, 54%);
  cursor: pointer;
  filter: drop-shadow(3px 2px 4px black);
}

#reset:hover {
  background: hsl(240, 52%, 44%);
  transform: scale(0.95);
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}

#resetOf {
  font-size: 22px;
  color: white;
  animation-name: ismail1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  cursor: pointer;
}

@keyframes ismail1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

#resetOf:hover {
  transform: scale(0.95);
  cursor: pointer;
}

#form2 {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#searchPokemonInput {
  width: 19.5rem;
  height: 2.5rem;
  outline: 0;
  border: 0;
  background: deepskyblue;
  padding: 0px 15px;
  border-radius: 5px;
  font-size: 16px;
  filter: drop-shadow(3px 2px 4px black);
}

#searchBtn {
  width: 7rem;
  height: 2.5rem;
  outline: 0;
  border: 0;
  background-color: hsl(181, 100%, 51%);
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px black;
  filter: drop-shadow(3px 2px 4px black);
}

#searchBtn:hover {
  transform: scale(0.95);
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}
.pokemonList {
  height: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pokemonCardDetail {
  position: relative;
  height: 20rem;
  width: 14rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 0px 5px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.innerDiv {
  filter: drop-shadow(2px 4px 6px black);
}

.innerDiv:hover .pokemonCardDetail {
  transform: rotateY(180deg);
}

.pokemonFrontCard,
.pokemonBackCard {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.pokemonFrontCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px 5px;
}

.pokeIdes {
  width: 100%;
  height: 2rem;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#idNumber {
  font-size: 18px;
  text-align: center;
}

#fColor {
  width: 3rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  background: linear-gradient(#f5f7fa, #c3cfe2);
  text-transform: uppercase;
  font-family: 14px;
  font-size: 13px;
}
.figure {
  width: 100%;
  height: 9rem;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figure img {
  width: 60%;
  animation-name: ismail;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes ismail {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1.2);
  }
}
.figure figcaption {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.heightAndWidth {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-variant: small-caps;
}

.types {
  width: 100%;
  margin-top: 1rem;
  padding: 0px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  /* margin-top: 1rem; */
}

.types p {
  text-align: center;
  width: 40%;
  display: flex;
  padding: 3px 5px;
  height: 2.1rem;
  font-variant: small-caps;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
}

.types :nth-child(1) {
  background: linear-gradient(#2af598, #009efd);
  color: white;
}

.types :nth-child(2) {
  background: linear-gradient(#6a11cb, #2575fc);
  /* background-color: #,#; */
  color: white;
}
.stats {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-variant: small-caps;
  margin-top: 0.5rem;
}

.state-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  /* gap: 5px; */
}

.pokemonBackCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transform: rotateY(180deg);
  padding: 10px 5px;
}

.pokeIdesBackCard {
  width: 100%;
  height: 2rem;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bColor {
  width: 3rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  background: linear-gradient(#f5f7fa, #c3cfe2);
  text-transform: uppercase;
  font-size: 13px;
}

.figureBackCard {
  width: 100%;
  height: 10rem;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.figureBackCard img {
  width: 60%;
  animation-name: ismail;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes ismail {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1.2);
  }
}
.figure figcaption {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.heightAndWidth {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-variant: small-caps;
}

.figureBackCard figcaption {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.abilityHeading {
  width: 100%;
  height: 2rem;
  font-variant: small-caps;
  font-size: 15px;
  text-align: center;
}

.abilities {
  width: 100%;
  height: 2rem;
  padding: 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  text-wrap: wrap;
  font-variant: small-caps;
  flex-wrap: wrap;
  gap: 5px;
}

@media screen and (max-width: 320px) {
  .h1Tag {
    width: 100%;
    margin-top: 1rem;
    font-variant: small-caps;
    font-size: 35px;
    color: white;
    filter: drop-shadow(2px 4px 1px black);
    text-align: center;
  }
  .container-1 {
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(#ff6034, #f9d423);
  }

  .optionType {
    width: 6.5rem;
    height: 2.5rem;
    padding: 0px 15px;
    text-transform: uppercase;
    color: white;
    background: #0079a2;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
  }

  #formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 6px;
  }

  #searchFilter {
    width: 8rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    background: hsl(0, 100%, 61%);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(3px 2px 4px black);
  }

  #reset {
    height: 2.5rem;
    width: 6rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: hsl(240, 52%, 54%);
    cursor: pointer;
    filter: drop-shadow(3px 2px 4px black);
  }

  #resetOf {
    font-size: 18px;
  }

  #form2 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #searchPokemonInput {
    width: 19.5rem;
    height: 2.5rem;
    outline: 0;
    border: 0;
    background: deepskyblue;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 16px;
    filter: drop-shadow(3px 2px 4px black);
  }

  #searchBtn {
    width: 7rem;
    height: 2.5rem;
    outline: 0;
    border: 0;
    background-color: hsl(181, 100%, 51%);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px black;
    filter: drop-shadow(3px 2px 4px black);
  }

  #searchBtn:hover {
    transform: scale(0.95);
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }
  .pokemonList {
    height: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .pokemonCardDetail {
    position: relative;
    height: 20rem;
    width: 14rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 0px 5px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}

@media screen and (min-width: 321px) and (max-width: 376px) {
  .h1Tag {
    width: 100%;
    margin-top: 1rem;
    font-variant: small-caps;
    font-size: 35px;
    color: white;
    filter: drop-shadow(2px 4px 1px black);
    text-align: center;
  }
  .container-1 {
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(#ff6034, #f9d423);
  }

  .optionType {
    width: 6.5rem;
    height: 2.5rem;
    padding: 0px 15px;
    text-transform: uppercase;
    color: white;
    background: #0079a2;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
  }

  #formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 6px;
  }

  #searchFilter {
    width: 8rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    background: hsl(0, 100%, 61%);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(3px 2px 4px black);
  }

  #reset {
    height: 2.5rem;
    width: 6rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: hsl(240, 52%, 54%);
    cursor: pointer;
    filter: drop-shadow(3px 2px 4px black);
  }

  #resetOf {
    font-size: 22px;
  }

  #form2 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #searchPokemonInput {
    width: 21.5rem;
    height: 2.5rem;
    outline: 0;
    border: 0;
    background: deepskyblue;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 16px;
    filter: drop-shadow(3px 2px 4px black);
  }

  #searchBtn {
    width: 7rem;
    height: 2.5rem;
    outline: 0;
    border: 0;
    background-color: hsl(181, 100%, 51%);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px black;
    filter: drop-shadow(3px 2px 4px black);
  }

  #searchBtn:hover {
    transform: scale(0.95);
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }
  .pokemonList {
    height: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .pokemonCardDetail {
    position: relative;
    height: 20rem;
    width: 14rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 0px 5px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}

@media screen and (min-width: 377px) and (max-width: 426px) {
  .h1Tag {
    width: 100%;
    margin-top: 1rem;
    font-variant: small-caps;
    font-size: 35px;
    color: white;
    filter: drop-shadow(2px 4px 1px black);
    text-align: center;
  }
  .container-1 {
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(#ff6034, #f9d423);
  }

  .optionType {
    width: 7rem;
    height: 2.5rem;
    padding: 0px 15px;
    text-transform: uppercase;
    color: white;
    background: #0079a2;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(2px 4px 6px black);
  }

  #formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 6px;
  }

  #searchFilter {
    width: 9rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    background: hsl(0, 100%, 61%);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(3px 2px 4px black);
  }

  #reset {
    height: 2.5rem;
    width: 7rem;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: hsl(240, 52%, 54%);
    cursor: pointer;
    filter: drop-shadow(3px 2px 4px black);
  }

  #resetOf {
    font-size: 22px;
  }

  #form2 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #searchPokemonInput {
    width: 24.5rem;
    height: 2.5rem;
    outline: 0;
    border: 0;
    background: deepskyblue;
    padding: 0px 15px;
    border-radius: 5px;
    font-size: 16px;
    filter: drop-shadow(3px 2px 4px black);
  }

  #searchBtn {
    width: 7rem;
    height: 2.5rem;
    outline: 0;
    border: 0;
    background-color: hsl(181, 100%, 51%);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 1px 1px black;
    filter: drop-shadow(3px 2px 4px black);
  }

  #searchBtn:hover {
    transform: scale(0.95);
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
  }
  .pokemonList {
    height: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .pokemonCardDetail {
    position: relative;
    height: 20rem;
    width: 14rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 0px 5px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}
